<h1>JUEGO DE MEMORIA 🎉</h1>
<div class="game-board">
  <div
    *ngFor="let icon of iconos; let i = index"
    class="card"
    [class.flipped]="cartasVisibles[i] || encontradas[i]"
    (click)="seleccionarTarjeta(i)"
  >
    <div class="card-inner">
      <div class="card-front">
        <i class="fas fa-question"></i>
      </div>
      <div class="card-back">
        <img *ngIf="cartasVisibles[i]" [src]="icon" alt="Dog Image" />
      </div>
    </div>
  </div>
</div>

<button class="nuevo-juego" (click)="reiniciarJuego()">Reiniciar Juego</button>

<div *ngIf="juegoTerminado" class="mensaje-victoria">
  ¡Has econtrado todos los pares! 🎉
</div>
