body {
    padding: 0;
    margin: 0;
    background-image: url('app/images/fondoperro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
